.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container {
  width: 400px;
  background-color: rgb(214, 240, 248);
  padding: 20px;
}
input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list {
  margin: 15px 0;
}

.list > li {
  background-color: rgb(250, 196, 196);
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  
}
.btn button{
  padding-left: 5px;
  font-size: 20px;
}